<a href="https://colab.research.google.com/github/wenjunsun/Covid-19-analysis-with-uw-ubicomp/blob/master/week11/prepare_data_for_PSM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In this notebook we will prepare data for propensity score matching using the before and after shelter in place date, instead of using the first case date. The reason for doing this is that people's behaviors don't change right afte the first case. For example King County's first case is on January 22nd, and people's behavior didn't change until March. So picking the SIP date as the breaking point might yield more reasonable results for how much policy has impact on people's behavior. However, this means that we need to have a baseline date for counties without shelter in place. We will use the mean date of all shelter in place dates as the baseline date.

In [4]:
ls

drive/  sample_data/

In [5]:
cd drive/My\ Drive/week11

/content/drive/My Drive/week11

In [6]:
import pandas as pd

# First need to calculate the mean shelter in place date, of all the counties

In [7]:
ls

 2016_US_County_Level_Presidential_Results.csv
'2020 County Health Rankings Data - Additional Measure Data.csv'
'2020 County Health Rankings Data - Ranked Measure Data.csv'
 aggregated_data.csv
 days_since.csv
 plot_time_series.ipynb
 prepare_data_for_PSM.ipynb
 us_states_governors.csv

In [8]:
# load data that has the date of each county's shelter in place
# read the SIP date column as datetime object.
days_since = pd.read_csv("days_since.csv", parse_dates=['Date - shelter in place'], infer_datetime_format=True)

In [9]:
days_since.head()

   Unnamed: 0 Date - first case Date - first death  ... state state_code state_name
0           0        2020-03-24         2020-04-07  ...   1.0         AL    Alabama
1           1        2020-03-15         2020-03-29  ...   1.0         AL    Alabama
2           2        2020-04-03         2020-04-29  ...   1.0         AL    Alabama
3           3        2020-03-30         2020-05-08  ...   1.0         AL    Alabama
4           4        2020-03-25         2020-05-17  ...   1.0         AL    Alabama

[5 rows x 12 columns]

In [10]:
days_since.dtypes

Unnamed: 0                               int64
Date - first case                       object
Date - first death                      object
Date - reopening                        object
Date - shelter in place         datetime64[ns]
Date - shelter in place ends            object
cnamelong                               object
county                                 float64
county_code                            float64
state                                  float64
state_code                              object
state_name                              object
dtype: object

In [11]:
days_since['Date - shelter in place'].mean()

Timestamp('2020-03-28 09:36:50.898386944')

As we can see the 'mean' shelter in place date of all counties is 2020-03-28. We will use this date for counties without shelter in place order. For counties with shelter in place, we will use that county's SIP date as comparison metric

# Now we need to get all the data within the time window.

- time window for counties without shelter in place order is 2019-03-28 to 2019-06-01 and 2020-03-28 to 2020-06-01
- time window for counties with shelter in place order is that county's shelter in place date - 2020-06-01 and the same window in 2019.

## combine social distance data with shelter in place date data

In [12]:
data = pd.read_csv("aggregated_data.csv", parse_dates=['date_range_start'],\
                   infer_datetime_format = True)

In [13]:
data.dtypes

date_range_start                   datetime64[ns]
state                                     float64
state_code                                 object
cnamelong                                  object
county_code                               float64
device_count                              float64
part_time_work_behavior_devices           float64
full_time_work_behavior_devices           float64
home_dwell_time                           float64
non_home_dwell_time                       float64
dtype: object

In [14]:
data.head()

  date_range_start  state  ... home_dwell_time non_home_dwell_time
0       2019-01-01    1.0  ...       4019193.0            162117.0
1       2019-01-01    1.0  ...      14443397.0            684136.0
2       2019-01-01    1.0  ...       1009240.0             66210.0
3       2019-01-01    1.0  ...       1450137.0             87795.0
4       2019-01-01    1.0  ...       4620005.0            261769.0

[5 rows x 10 columns]

In [15]:
days_since.head()

   Unnamed: 0 Date - first case Date - first death  ... state state_code state_name
0           0        2020-03-24         2020-04-07  ...   1.0         AL    Alabama
1           1        2020-03-15         2020-03-29  ...   1.0         AL    Alabama
2           2        2020-04-03         2020-04-29  ...   1.0         AL    Alabama
3           3        2020-03-30         2020-05-08  ...   1.0         AL    Alabama
4           4        2020-03-25         2020-05-17  ...   1.0         AL    Alabama

[5 rows x 12 columns]

In [16]:
# we only need to combine the date of shelter in place to social distancing data.
# so let's just get the columns we need
days_since = days_since[['county_code', 'Date - shelter in place']]

In [17]:
days_since.head()

   county_code Date - shelter in place
0       1001.0              2020-04-04
1       1003.0              2020-04-04
2       1005.0              2020-04-04
3       1007.0              2020-04-04
4       1009.0              2020-04-04

In [18]:
data = pd.merge(data, days_since, how ="left", on="county_code")

In [20]:
data.head()

  date_range_start  state  ... non_home_dwell_time Date - shelter in place
0       2019-01-01    1.0  ...            162117.0              2020-04-04
1       2019-01-01    1.0  ...            684136.0              2020-04-04
2       2019-01-01    1.0  ...             66210.0              2020-04-04
3       2019-01-01    1.0  ...             87795.0              2020-04-04
4       2019-01-01    1.0  ...            261769.0              2020-04-04

[5 rows x 11 columns]

In [21]:
# these are the counties without shelter in place.
data[data['Date - shelter in place'].isnull()].head()

    date_range_start  state  ... non_home_dwell_time Date - shelter in place
110       2019-01-01    5.0  ...             74612.0                     NaT
111       2019-01-01    5.0  ...             86816.0                     NaT
112       2019-01-01    5.0  ...             22716.0                     NaT
113       2019-01-01    5.0  ...            668214.0                     NaT
114       2019-01-01    5.0  ...             59270.0                     NaT

[5 rows x 11 columns]

## filter out data not within the time window range.

In [22]:
from datetime import datetime

In [23]:
# a custom function that given a row return true
# if this row is within the time window and false
# otherwise
def isThisRowInTimeWindow(row):
  thisDataDate = row['date_range_start']
  # if this row's SIP date is null, then begin window from 2020-03-28,
  # else use that row's SIP date as the starting window
  thisYearBeginDate = row['Date - shelter in place'] if not pd.isnull(row['Date - shelter in place']) else thisDataDate.replace(2020,3,28)

  thisYearEndDate = thisYearBeginDate.replace(month=6, day = 1)

  # return true if this row's date is within the window
  return thisDataDate.dayofyear >= thisYearBeginDate.dayofyear \
    and thisDataDate.dayofyear <= thisYearEndDate.dayofyear

In [24]:
data.iloc[280000]

date_range_start                   2019-03-28 00:00:00
state                                               48
state_code                                          TX
cnamelong                              Colorado County
county_code                                      48089
device_count                                      1810
part_time_work_behavior_devices                    239
full_time_work_behavior_devices                    106
home_dwell_time                                 798574
non_home_dwell_time                             337115
Date - shelter in place            2020-04-02 00:00:00
Name: 280000, dtype: object

In [25]:
isThisRowInTimeWindow(data.iloc[280000])

False

In [26]:
KingData = data[data['county_code'] == 53033]

In [27]:
KingData

        date_range_start  state  ... non_home_dwell_time Date - shelter in place
2966          2019-01-01   53.0  ...           4030288.0              2020-03-23
6192          2019-01-02   53.0  ...           8105451.0              2020-03-23
9418          2019-01-03   53.0  ...           8517352.0              2020-03-23
12644         2019-01-04   53.0  ...           9448583.0              2020-03-23
15870         2019-01-05   53.0  ...           4960347.0              2020-03-23
...                  ...    ...  ...                 ...                     ...
1876623       2020-08-04   53.0  ...           4665696.0              2020-03-23
1879849       2020-08-05   53.0  ...           4781856.0              2020-03-23
1883074       2020-08-06   53.0  ...           4337102.0              2020-03-23
1886300       2020-08-07   53.0  ...           5716823.0              2020-03-23
1889526       2020-08-08   53.0  ...           4250664.0              2020-03-23

[586 rows x 11 columns]

In [28]:
KingData['withinTimeWindow'] = KingData.apply(lambda row: isThisRowInTimeWindow(row) , axis = 1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [29]:
KingData = KingData[KingData['withinTimeWindow'] == True]

In [30]:
KingData

        date_range_start  state  ... Date - shelter in place withinTimeWindow
267498        2019-03-24   53.0  ...              2020-03-23             True
270724        2019-03-25   53.0  ...              2020-03-23             True
273950        2019-03-26   53.0  ...              2020-03-23             True
277176        2019-03-27   53.0  ...              2020-03-23             True
280402        2019-03-28   53.0  ...              2020-03-23             True
...                  ...    ...  ...                     ...              ...
1657390       2020-05-28   53.0  ...              2020-03-23             True
1660613       2020-05-29   53.0  ...              2020-03-23             True
1663836       2020-05-30   53.0  ...              2020-03-23             True
1667059       2020-05-31   53.0  ...              2020-03-23             True
1670282       2020-06-01   53.0  ...              2020-03-23             True

[142 rows x 12 columns]

In [31]:
KingData['2019?'] = KingData['date_range_start'].apply(lambda x: x.year == 2019)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [32]:
KingData

        date_range_start  state  ... withinTimeWindow  2019?
267498        2019-03-24   53.0  ...             True   True
270724        2019-03-25   53.0  ...             True   True
273950        2019-03-26   53.0  ...             True   True
277176        2019-03-27   53.0  ...             True   True
280402        2019-03-28   53.0  ...             True   True
...                  ...    ...  ...              ...    ...
1657390       2020-05-28   53.0  ...             True  False
1660613       2020-05-29   53.0  ...             True  False
1663836       2020-05-30   53.0  ...             True  False
1667059       2020-05-31   53.0  ...             True  False
1670282       2020-06-01   53.0  ...             True  False

[142 rows x 13 columns]

In [33]:
data_2019 = KingData[KingData['2019?'] == True]

In [34]:
data_2020 = KingData[KingData['2019?'] == False]

In [36]:
home_dwell_2019 = data_2019['home_dwell_time'].sum()

In [37]:
non_home_dwell_2019 = data_2019['non_home_dwell_time'].sum()

In [38]:
home_dwell_2020 = data_2020['home_dwell_time'].sum()

In [39]:
non_home_dwell_2020 = data_2020['non_home_dwell_time'].sum()

In [41]:
print(f'2019 percentage of home dwell time: {home_dwell_2019 / (home_dwell_2019 + non_home_dwell_2019)}')
print(f'2020 percentage of home dwell time: {home_dwell_2020 / (home_dwell_2020 + non_home_dwell_2020)}')

2019 percentage of home dwell time: 0.8424550045873533
2020 percentage of home dwell time: 0.9793589266690815

We can see people spend more time at home in 2020 afte shelter in place compared to last year in King County, which is what we expect.

In [42]:
data[data['Date - shelter in place'].isnull()].head()

    date_range_start  state  ... non_home_dwell_time Date - shelter in place
110       2019-01-01    5.0  ...             74612.0                     NaT
111       2019-01-01    5.0  ...             86816.0                     NaT
112       2019-01-01    5.0  ...             22716.0                     NaT
113       2019-01-01    5.0  ...            668214.0                     NaT
114       2019-01-01    5.0  ...             59270.0                     NaT

[5 rows x 11 columns]

In [43]:
data.iloc[97]

date_range_start                   2019-01-01 00:00:00
state                                                4
state_code                                          AZ
cnamelong                              Coconino County
county_code                                       4005
device_count                                      7314
part_time_work_behavior_devices                    297
full_time_work_behavior_devices                    133
home_dwell_time                            3.37339e+06
non_home_dwell_time                             631045
Date - shelter in place            2020-03-31 00:00:00
Name: 97, dtype: object

In [44]:
isThisRowInTimeWindow(data.iloc[97])

False

Seems like our function is working. Let's apply this function to every row in data.

In [48]:
data['withinTimeWindow'] = data.apply(lambda row: isThisRowInTimeWindow(row) , axis = 1)

Let's check if our function did the right thing.

In [49]:
data[data['withinTimeWindow'] == True]

        date_range_start  state  ... Date - shelter in place withinTimeWindow
241869        2019-03-16   72.0  ...              2020-03-15             True
241870        2019-03-16   72.0  ...              2020-03-15             True
241871        2019-03-16   72.0  ...              2020-03-15             True
241872        2019-03-16   72.0  ...              2020-03-15             True
241873        2019-03-16   72.0  ...              2020-03-15             True
...                  ...    ...  ...                     ...              ...
1670534       2020-06-01   72.0  ...              2020-03-15             True
1670535       2020-06-01   72.0  ...              2020-03-15             True
1670536       2020-06-01   78.0  ...                     NaT             True
1670537       2020-06-01   78.0  ...                     NaT             True
1670538       2020-06-01   78.0  ...                     NaT             True

[423439 rows x 12 columns]

In [50]:
data[(data['withinTimeWindow'] == True) & (data['Date - shelter in place'].isnull())]

        date_range_start  state  ... Date - shelter in place withinTimeWindow
280772        2019-03-29    5.0  ...                     NaT             True
280773        2019-03-29    5.0  ...                     NaT             True
280774        2019-03-29    5.0  ...                     NaT             True
280775        2019-03-29    5.0  ...                     NaT             True
280776        2019-03-29    5.0  ...                     NaT             True
...                  ...    ...  ...                     ...              ...
1670456       2020-06-01   69.0  ...                     NaT             True
1670457       2020-06-01   69.0  ...                     NaT             True
1670536       2020-06-01   78.0  ...                     NaT             True
1670537       2020-06-01   78.0  ...                     NaT             True
1670538       2020-06-01   78.0  ...                     NaT             True

[67437 rows x 12 columns]

In [51]:
data[(data['withinTimeWindow'] == True) & (data['county_code'] == 66010)]

        date_range_start  state  ... Date - shelter in place withinTimeWindow
283803        2019-03-29   66.0  ...                     NaT             True
287029        2019-03-30   66.0  ...                     NaT             True
290255        2019-03-31   66.0  ...                     NaT             True
293481        2019-04-01   66.0  ...                     NaT             True
296707        2019-04-02   66.0  ...                     NaT             True
...                  ...    ...  ...                     ...              ...
1657563       2020-05-28   66.0  ...                     NaT             True
1660786       2020-05-29   66.0  ...                     NaT             True
1664009       2020-05-30   66.0  ...                     NaT             True
1667232       2020-05-31   66.0  ...                     NaT             True
1670455       2020-06-01   66.0  ...                     NaT             True

[132 rows x 12 columns]

In [53]:
# King county's data
data[(data['withinTimeWindow'] == True) & (data['county_code'] == 53033)]

        date_range_start  state  ... Date - shelter in place withinTimeWindow
267498        2019-03-24   53.0  ...              2020-03-23             True
270724        2019-03-25   53.0  ...              2020-03-23             True
273950        2019-03-26   53.0  ...              2020-03-23             True
277176        2019-03-27   53.0  ...              2020-03-23             True
280402        2019-03-28   53.0  ...              2020-03-23             True
...                  ...    ...  ...                     ...              ...
1657390       2020-05-28   53.0  ...              2020-03-23             True
1660613       2020-05-29   53.0  ...              2020-03-23             True
1663836       2020-05-30   53.0  ...              2020-03-23             True
1667059       2020-05-31   53.0  ...              2020-03-23             True
1670282       2020-06-01   53.0  ...              2020-03-23             True

[142 rows x 12 columns]

They look right, the counties without SIP ranges from 3-28 to 6-1, and counties with SIP ranges from that county's shelter in place date to 6-1

In [54]:
# only get rows within the time range.
data = data[data['withinTimeWindow'] == True]

In [55]:
data.shape

(423439, 12)

# separate last year's data from this year's data

In [56]:
data.head()

       date_range_start  state  ... Date - shelter in place withinTimeWindow
241869       2019-03-16   72.0  ...              2020-03-15             True
241870       2019-03-16   72.0  ...              2020-03-15             True
241871       2019-03-16   72.0  ...              2020-03-15             True
241872       2019-03-16   72.0  ...              2020-03-15             True
241873       2019-03-16   72.0  ...              2020-03-15             True

[5 rows x 12 columns]

In [57]:
# add a column that indicates whether this row's date is in 2019
data['2019?'] = data['date_range_start'].apply(lambda date: date.year == 2019)

In [58]:
data.head()

       date_range_start  state  ... withinTimeWindow 2019?
241869       2019-03-16   72.0  ...             True  True
241870       2019-03-16   72.0  ...             True  True
241871       2019-03-16   72.0  ...             True  True
241872       2019-03-16   72.0  ...             True  True
241873       2019-03-16   72.0  ...             True  True

[5 rows x 13 columns]

In [59]:
data[data['2019?'] == False].head()

        date_range_start  state  ... withinTimeWindow  2019?
1419016       2020-03-15   72.0  ...             True  False
1419017       2020-03-15   72.0  ...             True  False
1419018       2020-03-15   72.0  ...             True  False
1419019       2020-03-15   72.0  ...             True  False
1419020       2020-03-15   72.0  ...             True  False

[5 rows x 13 columns]

We can see the date 2020-3-14 is getting in our data even though shelter in place is 2020-3-15. This might by caused by the one off error. (2019 has 366 days and 2020 has 365 days). Don't think this will affect our analysis that much.

In [60]:
data_2019 = data[data['2019?'] == True]

In [61]:
data_2020 = data[data['2019?'] == False]

In [62]:
# drop unnecessary columns
data_2019.drop(columns=['withinTimeWindow', '2019?'], axis = 1, inplace = True)
data_2020.drop(columns=['withinTimeWindow', '2019?'], axis = 1, inplace = True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [63]:
data_2019.head()

       date_range_start  state  ... non_home_dwell_time Date - shelter in place
241869       2019-03-16   72.0  ...             10671.0              2020-03-15
241870       2019-03-16   72.0  ...             12360.0              2020-03-15
241871       2019-03-16   72.0  ...             11242.0              2020-03-15
241872       2019-03-16   72.0  ...              6155.0              2020-03-15
241873       2019-03-16   72.0  ...              6102.0              2020-03-15

[5 rows x 11 columns]

In [64]:
data_2020.head()

        date_range_start  state  ... non_home_dwell_time Date - shelter in place
1419016       2020-03-15   72.0  ...              3328.0              2020-03-15
1419017       2020-03-15   72.0  ...             25442.0              2020-03-15
1419018       2020-03-15   72.0  ...             38051.0              2020-03-15
1419019       2020-03-15   72.0  ...             23722.0              2020-03-15
1419020       2020-03-15   72.0  ...             10204.0              2020-03-15

[5 rows x 11 columns]

# add a SIP column to data to indicate whether this county has SIP implemented.

In [65]:
data_2019.head()

       date_range_start  state  ... non_home_dwell_time Date - shelter in place
241869       2019-03-16   72.0  ...             10671.0              2020-03-15
241870       2019-03-16   72.0  ...             12360.0              2020-03-15
241871       2019-03-16   72.0  ...             11242.0              2020-03-15
241872       2019-03-16   72.0  ...              6155.0              2020-03-15
241873       2019-03-16   72.0  ...              6102.0              2020-03-15

[5 rows x 11 columns]

In [66]:
data_2019['SIP?'] = data_2019['Date - shelter in place'].apply(lambda x: 0 if pd.isnull(x) else 1)
data_2020['SIP?'] = data_2020['Date - shelter in place'].apply(lambda x: 0 if pd.isnull(x) else 1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [67]:
data_2019.head()

       date_range_start  state  ... Date - shelter in place SIP?
241869       2019-03-16   72.0  ...              2020-03-15    1
241870       2019-03-16   72.0  ...              2020-03-15    1
241871       2019-03-16   72.0  ...              2020-03-15    1
241872       2019-03-16   72.0  ...              2020-03-15    1
241873       2019-03-16   72.0  ...              2020-03-15    1

[5 rows x 12 columns]

In [68]:
data_2019[data_2019['SIP?'] == 0].head()

       date_range_start  state  ... Date - shelter in place SIP?
280772       2019-03-29    5.0  ...                     NaT    0
280773       2019-03-29    5.0  ...                     NaT    0
280774       2019-03-29    5.0  ...                     NaT    0
280775       2019-03-29    5.0  ...                     NaT    0
280776       2019-03-29    5.0  ...                     NaT    0

[5 rows x 12 columns]

# group by county and aggregate on device_count + completely_home_device_count

In [70]:
data_2019.head()

       date_range_start  state  ... Date - shelter in place SIP?
241869       2019-03-16   72.0  ...              2020-03-15    1
241870       2019-03-16   72.0  ...              2020-03-15    1
241871       2019-03-16   72.0  ...              2020-03-15    1
241872       2019-03-16   72.0  ...              2020-03-15    1
241873       2019-03-16   72.0  ...              2020-03-15    1

[5 rows x 12 columns]

In [71]:
data_2019_agg = data_2019.groupby(['state','state_code','cnamelong','county_code',\
                                   'SIP?']).agg(device_count = ('device_count', 'sum'),\
                                                part_time_work_behavior_devices = ('part_time_work_behavior_devices', 'sum'),\
                                                full_time_work_behavior_devices = ('full_time_work_behavior_devices', 'sum'),\
                                                home_dwell_time = ('home_dwell_time','sum'),\
                                                non_home_dwell_time = ('non_home_dwell_time', 'sum')).reset_index()

In [72]:
data_2020_agg = data_2020.groupby(['state','state_code','cnamelong','county_code',\
                                   'SIP?']).agg(device_count = ('device_count', 'sum'),\
                                                part_time_work_behavior_devices = ('part_time_work_behavior_devices', 'sum'),\
                                                full_time_work_behavior_devices = ('full_time_work_behavior_devices', 'sum'),\
                                                home_dwell_time = ('home_dwell_time','sum'),\
                                                non_home_dwell_time = ('non_home_dwell_time', 'sum')).reset_index()

In [73]:
data_2019_agg.head()

   state state_code  ... home_dwell_time  non_home_dwell_time
0    1.0         AL  ...     207555919.0           59952572.0
1    1.0         AL  ...     782640390.0          222484590.0
2    1.0         AL  ...      55241847.0           16631395.0
3    1.0         AL  ...      77506480.0           23095104.0
4    1.0         AL  ...     245274817.0           73748380.0

[5 rows x 10 columns]

In [74]:
data_2020_agg.head()

   state state_code  ... home_dwell_time  non_home_dwell_time
0    1.0         AL  ...     277471829.0           34661931.0
1    1.0         AL  ...     987101463.0          134823959.0
2    1.0         AL  ...      65920332.0           12817822.0
3    1.0         AL  ...     100388865.0           16800976.0
4    1.0         AL  ...     311330513.0           51959142.0

[5 rows x 10 columns]

In [75]:
data_2019_agg.shape

(3227, 10)

In [76]:
data_2020_agg.shape

(3227, 10)

# produce the difference in stay at home behavior bewteen 2020 and 2019.

In [77]:
data_2019_agg.head()

   state state_code  ... home_dwell_time  non_home_dwell_time
0    1.0         AL  ...     207555919.0           59952572.0
1    1.0         AL  ...     782640390.0          222484590.0
2    1.0         AL  ...      55241847.0           16631395.0
3    1.0         AL  ...      77506480.0           23095104.0
4    1.0         AL  ...     245274817.0           73748380.0

[5 rows x 10 columns]

In [80]:
data_2019_agg['last_year_perc_part_time'] = data_2019_agg['part_time_work_behavior_devices'] / data_2019_agg['device_count']

In [81]:
data_2019_agg['last_year_perc_full_time'] = data_2019_agg['full_time_work_behavior_devices'] / data_2019_agg['device_count']

In [82]:
data_2019_agg['last_year_perc_time_home'] = data_2019_agg['home_dwell_time'] / (data_2019_agg['home_dwell_time'] + data_2019_agg['non_home_dwell_time'])

In [84]:
data_2019_agg.head()

   state state_code  ... last_year_perc_full_time  last_year_perc_time_home
0    1.0         AL  ...                 0.059502                  0.775885
1    1.0         AL  ...                 0.047217                  0.778650
2    1.0         AL  ...                 0.046114                  0.768601
3    1.0         AL  ...                 0.056187                  0.770430
4    1.0         AL  ...                 0.065415                  0.768831

[5 rows x 13 columns]

In [86]:
data_2019_agg = data_2019_agg[['state','state_code','cnamelong','county_code','SIP?',\
                               'last_year_perc_part_time', 'last_year_perc_full_time', \
                               'last_year_perc_time_home']]

In [88]:
data_2019_agg.head()

   state state_code  ... last_year_perc_full_time  last_year_perc_time_home
0    1.0         AL  ...                 0.059502                  0.775885
1    1.0         AL  ...                 0.047217                  0.778650
2    1.0         AL  ...                 0.046114                  0.768601
3    1.0         AL  ...                 0.056187                  0.770430
4    1.0         AL  ...                 0.065415                  0.768831

[5 rows x 8 columns]

In [89]:
merged_data = data_2020_agg.merge(data_2019_agg, on=['state','state_code','cnamelong',\
                                                     'county_code','SIP?'])

In [90]:
merged_data.head()

   state state_code  ... last_year_perc_full_time  last_year_perc_time_home
0    1.0         AL  ...                 0.059502                  0.775885
1    1.0         AL  ...                 0.047217                  0.778650
2    1.0         AL  ...                 0.046114                  0.768601
3    1.0         AL  ...                 0.056187                  0.770430
4    1.0         AL  ...                 0.065415                  0.768831

[5 rows x 13 columns]

In [91]:
merged_data['this_year_perc_part_time'] = merged_data['part_time_work_behavior_devices'] / merged_data['device_count']

In [92]:
merged_data['this_year_perc_full_time'] = merged_data['full_time_work_behavior_devices'] / merged_data['device_count']

In [93]:
merged_data['this_year_perc_time_home'] = merged_data['home_dwell_time'] / (merged_data['home_dwell_time'] + merged_data['non_home_dwell_time'])

In [94]:
merged_data['diff_in_perc_time_home'] = merged_data['this_year_perc_time_home'] - merged_data['last_year_perc_time_home']

In [95]:
merged_data['diff_in_perc_full_time'] = merged_data['this_year_perc_full_time'] - merged_data['last_year_perc_full_time']

In [96]:
merged_data['diff_in_perc_part_time'] = merged_data['this_year_perc_part_time'] - merged_data['last_year_perc_part_time']

In [97]:
merged_data.head()

   state state_code  ... diff_in_perc_full_time  diff_in_perc_part_time
0    1.0         AL  ...              -0.017918               -0.044274
1    1.0         AL  ...              -0.012819               -0.031885
2    1.0         AL  ...              -0.011850               -0.021389
3    1.0         AL  ...              -0.022101               -0.027307
4    1.0         AL  ...              -0.025352               -0.036392

[5 rows x 19 columns]

In [98]:
merged_data['diff_in_perc_time_home'].mean()

0.07330556698199603

In [99]:
merged_data[merged_data['SIP?'] == 0]['diff_in_perc_time_home'].mean()

0.06229188344218074

In [100]:
merged_data[merged_data['SIP?'] == 1]['diff_in_perc_time_home'].mean()

0.07538737230842396

In [101]:
merged_data[merged_data['cnamelong'] == 'King County']

      state state_code  ... diff_in_perc_full_time  diff_in_perc_part_time
2655   48.0         TX  ...               0.016138               -0.000257
2967   53.0         WA  ...              -0.029345               -0.047246

[2 rows x 19 columns]

As we can see, the percentage of time stay at home increased after shelter in place date, which is what we expect. Percentage of full time work and percentage of part time work typically drop.

In [102]:
merged_data[merged_data['cnamelong'] == 'Los Angeles County']

     state state_code  ... diff_in_perc_full_time  diff_in_perc_part_time
203    6.0         CA  ...              -0.013404               -0.035598

[1 rows x 19 columns]

In [104]:
# drop columns we don't need - we only need difference.
merged_data.drop(columns = ['device_count', 'part_time_work_behavior_devices', \
                            'full_time_work_behavior_devices', 'home_dwell_time',\
                            'non_home_dwell_time'], axis=1, inplace=True)

In [105]:
merged_data.head()

   state state_code  ... diff_in_perc_full_time  diff_in_perc_part_time
0    1.0         AL  ...              -0.017918               -0.044274
1    1.0         AL  ...              -0.012819               -0.031885
2    1.0         AL  ...              -0.011850               -0.021389
3    1.0         AL  ...              -0.022101               -0.027307
4    1.0         AL  ...              -0.025352               -0.036392

[5 rows x 14 columns]

In [106]:
# drop columns we don't need - we only need difference.
merged_data.drop(columns = ['last_year_perc_part_time', 'last_year_perc_full_time', \
                            'last_year_perc_time_home', 'this_year_perc_part_time',\
                            'this_year_perc_full_time', 'this_year_perc_time_home'], axis=1, inplace=True)

In [107]:
merged_data.head()

   state state_code  ... diff_in_perc_full_time  diff_in_perc_part_time
0    1.0         AL  ...              -0.017918               -0.044274
1    1.0         AL  ...              -0.012819               -0.031885
2    1.0         AL  ...              -0.011850               -0.021389
3    1.0         AL  ...              -0.022101               -0.027307
4    1.0         AL  ...              -0.025352               -0.036392

[5 rows x 8 columns]

# combine data with covariates.

In [109]:
merged_data.head()

   state state_code  ... diff_in_perc_full_time  diff_in_perc_part_time
0    1.0         AL  ...              -0.017918               -0.044274
1    1.0         AL  ...              -0.012819               -0.031885
2    1.0         AL  ...              -0.011850               -0.021389
3    1.0         AL  ...              -0.022101               -0.027307
4    1.0         AL  ...              -0.025352               -0.036392

[5 rows x 8 columns]

In [110]:
data = merged_data

In [111]:
# covariates data
df_chr_1 = pd.read_csv('2020 County Health Rankings Data - Ranked Measure Data.csv')
df_chr_2 = pd.read_csv('2020 County Health Rankings Data - Additional Measure Data.csv')
df_governors = pd.read_csv('us_states_governors.csv', encoding='latin-1')
df_election = pd.read_csv('2016_US_County_Level_Presidential_Results.csv')

In [112]:
df_election['political_party'] = df_election.apply(lambda x: 'Republican' if x['per_gop'] > x['per_dem'] else 'Democratic', axis=1)
df_election['political_diff'] = df_election.apply(lambda x: x['per_dem'] - x['per_gop'], axis=1)

In [113]:
df_chr = df_chr_1.merge(df_chr_2, on=['FIPS', 'State', 'County'])
columns = ['FIPS', 'State', 'County', 'Population_y', 'Years of Potential Life Lost Rate', '% Fair or Poor Health', 
           'Average Number of Physically Unhealthy Days', 'Average Number of Mentally Unhealthy Days',
           '% Low Birthweight', '% Smokers', '% Adults with Obesity', 'Food Environment Index', 
           '% Physically Inactive', '% With Access to Exercise Opportunities', '% Excessive Drinking',
           '% Driving Deaths with Alcohol Involvement', 'Chlamydia Rate', 'Teen Birth Rate', '% Uninsured_x',
           'Primary Care Physicians Rate', 'Primary Care Physicians Ratio', 
           'Dentist Rate', 'Dentist Ratio', 'Mental Health Provider Rate', 'Mental Health Provider Ratio',
           'Preventable Hospitalization Rate', '% With Annual Mammogram', '% Vaccinated',
           'High School Graduation Rate', '% Some College', '% Unemployed', '% Children in Poverty',
           'Income Ratio', '% Single-Parent Households', 'Social Association Rate', 'Violent Crime Rate',
           'Injury Death Rate', 'Average Daily PM2.5', 'Presence of Water Violation', '% Severe Housing Problems',
           '% Drive Alone to Work', '% Long Commute - Drives Alone',
           'Life Expectancy', 'Age-Adjusted Death Rate', 'Child Mortality Rate',
           'Infant Mortality Rate', '% Frequent Physical Distress', '% Frequent Mental Distress',
           '% Adults with Diabetes', 'HIV Prevalence Rate', 
           '% Food Insecure', '% Limited Access to Healthy Foods',
           'Drug Overdose Mortality Rate', 'Motor Vehicle Mortality Rate',
           '% Insufficient Sleep', '% Uninsured_y', '% Uninsured.1',
           'Other Primary Care Provider Rate', 'Other Primary Care Provider Ratio','% Disconnected Youth',
           'Average Grade Performance', 'Average Grade Performance.1', 'Median Household Income', 
           '% Enrolled in Free or Reduced Lunch', 'Segregation index', 'Segregation Index', 'Homicide Rate',
           'Suicide Rate (Age-Adjusted)', 'Firearm Fatalities Rate',
           'Juvenile Arrest Rate', 'Average Traffic Volume per Meter of Major Roadways',
           '% Homeowners', '% Severe Housing Cost Burden', '% less than 18 years of age', '% 65 and over',
           '% Black', '% American Indian & Alaska Native', '% Asian', '% Native Hawaiian/Other Pacific Islander',
           '% Hispanic', '% Non-Hispanic White', '% Not Proficient in English', '% Female', '% Rural'
          ]
df_chr = df_chr[columns]

In [114]:
df_merged = data.merge(df_governors, how='left', left_on='state_code', right_on='State Code')
df_merged = df_merged.merge(df_chr, left_on='county_code', right_on='FIPS')
df_merged = df_merged.merge(df_election, left_on='county_code', right_on='combined_fips')
df_merged.head()

   state state_code  ... political_party  political_diff
0    1.0         AL  ...      Republican       -0.494789
1    1.0         AL  ...      Republican       -0.577862
2    1.0         AL  ...      Republican       -0.056112
3    1.0         AL  ...      Republican       -0.555441
4    1.0         AL  ...      Republican       -0.813820

[5 rows x 113 columns]

In [115]:
df_merged.shape

(3140, 113)

In [116]:
data.shape

(3227, 8)

In [117]:
# only select some covariates for propensity score matching
df_reduced_covariate = \
df_merged[['state', 'state_code', 'State Name','cnamelong', 'county_code',\
           'diff_in_perc_time_home', 'diff_in_perc_full_time', 'diff_in_perc_part_time',\
           'SIP?', 'Median Household Income', '% Rural', 'Population_y', 'political_diff',\
           '% less than 18 years of age', '% 65 and over', '% Asian', '% Black', '% Hispanic',\
           '% Non-Hispanic White']]

In [118]:
df_reduced_covariate.head()

   state state_code State Name  ... % Black  % Hispanic  % Non-Hispanic White
0    1.0         AL    Alabama  ...    19.3         3.0                  74.3
1    1.0         AL    Alabama  ...     8.8         4.6                  83.1
2    1.0         AL    Alabama  ...    48.0         4.3                  45.6
3    1.0         AL    Alabama  ...    21.1         2.6                  74.6
4    1.0         AL    Alabama  ...     1.5         9.6                  86.9

[5 rows x 19 columns]

In [119]:
# save final data
df_reduced_covariate.to_csv("county_data_with_reduced_covariates.csv", index = False)