<a href="https://colab.research.google.com/github/wenjunsun/Covid-19-analysis-with-uw-ubicomp/blob/master/data_and_pre-processing/data_preparing_for_propensity_score_matching.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aggregate before/after first case data of each county, and add a column of whether this county has issued Shelter in place

In [4]:
cd drive/My\ Drive/data

/content/drive/My Drive/data

In [1]:
import pandas as pd
import numpy as np

In [5]:
ls

agg_social_dist_2.csv
agg_social_dist.csv
agg_social_dist_without_low_device_count.csv
county_data.csv
county_data_with_and_without_SIP.csv
county_data_with_covariates.csv
county_data_with_reduced_covariates.csv
data_preparing_for_propensity_score_matching.ipynb
filter_low_device_count_data.ipynb
merged_data.csv
shelter_in_place_by_counties.csv
social_dist_all_trimmed.csv

In [6]:
data = pd.read_csv("agg_social_dist_without_low_device_count.csv")

In [7]:
data.head()

            date_range_start  state  ... Date - first case Date - shelter in place
0  2020-01-01T00:00:00+10:00   66.0  ...        2020-03-16                     NaN
1  2020-01-01T00:00:00+10:00   69.0  ...        2020-03-31                     NaN
2  2020-01-01T00:00:00-04:00   72.0  ...        2020-03-16     2020-03-15 00:00:00
3  2020-01-01T00:00:00-04:00   72.0  ...        2020-03-16     2020-03-15 00:00:00
4  2020-01-01T00:00:00-04:00   72.0  ...        2020-03-16     2020-03-15 00:00:00

[5 rows x 19 columns]

In [8]:
data.shape

(381904, 19)

In [9]:
data.isnull().sum()

date_range_start                        0
state                                 127
state_code                            127
cnamelong                             127
county_code                             0
days_since_first_case               10714
days_since_shelter                  54475
candidate_device_count                  0
device_count                            0
completely_home_device_count            0
part_time_work_behavior_devices         0
full_time_work_behavior_devices         0
delivery_behavior_devices               0
median_home_dwell_time                  0
median_non_home_dwell_time         345638
median_percentage_time_home        345638
distance_traveled_from_home           803
Date - first case                   10714
Date - shelter in place             54475
dtype: int64

We want to aggregate data on before/after first covid case, but we have $10704$ null values in days_since_first_case?? \\
Let's drop these rows for now...

In [10]:
data.dropna(subset=['days_since_first_case'], inplace = True)

In [11]:
data.shape

(371190, 19)

In [12]:
data.isnull().sum()

date_range_start                        0
state                                   0
state_code                              0
cnamelong                               0
county_code                             0
days_since_first_case                   0
days_since_shelter                  51898
candidate_device_count                  0
device_count                            0
completely_home_device_count            0
part_time_work_behavior_devices         0
full_time_work_behavior_devices         0
delivery_behavior_devices               0
median_home_dwell_time                  0
median_non_home_dwell_time         336000
median_percentage_time_home        336000
distance_traveled_from_home           720
Date - first case                       0
Date - shelter in place             51898
dtype: int64

Now let's aggregate all the data of counties before / after first covid case

In [13]:
before_covid_data = data[data['days_since_first_case'] < 0]
after_covid_data = data[data['days_since_first_case'] >= 0]

In [14]:
before_covid_data.head()

            date_range_start  state  ... Date - first case Date - shelter in place
0  2020-01-01T00:00:00+10:00   66.0  ...        2020-03-16                     NaN
1  2020-01-01T00:00:00+10:00   69.0  ...        2020-03-31                     NaN
2  2020-01-01T00:00:00-04:00   72.0  ...        2020-03-16     2020-03-15 00:00:00
3  2020-01-01T00:00:00-04:00   72.0  ...        2020-03-16     2020-03-15 00:00:00
4  2020-01-01T00:00:00-04:00   72.0  ...        2020-03-16     2020-03-15 00:00:00

[5 rows x 19 columns]

In [18]:
before_covid_data.drop("date_range_start", axis = 1, inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [19]:
after_covid_data.drop("date_range_start", axis = 1, inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [20]:
before_covid_data.head()

   state state_code  ... Date - first case  Date - shelter in place
0   66.0         GU  ...        2020-03-16                      NaN
1   69.0         MP  ...        2020-03-31                      NaN
2   72.0         PR  ...        2020-03-16      2020-03-15 00:00:00
3   72.0         PR  ...        2020-03-16      2020-03-15 00:00:00
4   72.0         PR  ...        2020-03-16      2020-03-15 00:00:00

[5 rows x 18 columns]

We want to sum all the devices and completely_home_deivce of a specific county and then do the division to find out its % completely stay at home

In [21]:
# dataframe of all counties which doesn't have shelter in place order before covid
before_no_shelter = before_covid_data[before_covid_data['days_since_shelter'].isnull()]
# dataframe of all counties which have shelter in place order before covid
before_with_shelter = before_covid_data[before_covid_data['days_since_shelter'].notnull()]

# dataframe of all counties which doesn't have shelter in place order after covid
after_no_shelter = after_covid_data[after_covid_data['days_since_shelter'].isnull()]

# dataframe of all counties which have shelter in place order after covid
after_with_shelter = after_covid_data[after_covid_data['days_since_shelter'].notnull()]

In [22]:
before_no_shelter.head()

      state state_code  ... Date - first case  Date - shelter in place
0      66.0         GU  ...        2020-03-16                      NaN
1      69.0         MP  ...        2020-03-31                      NaN
69     78.0         VI  ...        2020-03-16                      NaN
70     78.0         VI  ...        2020-03-16                      NaN
1279    5.0         AR  ...        2020-03-30                      NaN

[5 rows x 18 columns]

In [23]:
before_no_shelter = before_no_shelter.groupby(['state', 'state_code', 'cnamelong', 'county_code']).agg(
    device_count = ('device_count', 'sum'),
    completely_home_device_count = ('completely_home_device_count', 'sum')
).reset_index()

In [24]:
before_with_shelter = before_with_shelter.groupby(['state', 'state_code', 'cnamelong', 'county_code']).agg(
    device_count = ('device_count', 'sum'),
    completely_home_device_count = ('completely_home_device_count', 'sum')
).reset_index()

In [25]:
after_no_shelter = after_no_shelter.groupby(['state', 'state_code', 'cnamelong', 'county_code']).agg(
    device_count = ('device_count', 'sum'),
    completely_home_device_count = ('completely_home_device_count', 'sum')
).reset_index()

In [26]:
after_with_shelter = after_with_shelter.groupby(['state', 'state_code', 'cnamelong', 'county_code']).agg(
    device_count = ('device_count', 'sum'),
    completely_home_device_count = ('completely_home_device_count', 'sum')
).reset_index()

In [27]:
before_no_shelter.shape

(418, 6)

In [28]:
after_no_shelter.shape

(397, 6)

In [29]:
before_with_shelter.shape

(2536, 6)

In [30]:
after_with_shelter.shape

(2487, 6)

In [31]:
for county in set(before_no_shelter['cnamelong']):
  if county not in set(after_no_shelter['cnamelong']):
    print(county)

Gosper County
Chase County
Coal County
Bottineau County
Lyman County
Foster County
Ida County
Thayer County
Richardson County
Nuckolls County
Traill County
Palo Alto County
Stanley County
Harlan County
Weston County
Benson County
Tripp County
Ringgold County
Little River County
Lucas County

In [33]:
data[data['cnamelong'] == 'Palo Alto County'].head()

                date_range_start  ...  Date - shelter in place
1554   2020-01-01T00:00:00-06:00  ...                      NaN
4567   2020-01-02T00:00:00-06:00  ...                      NaN
7565   2020-01-03T00:00:00-06:00  ...                      NaN
10564  2020-01-04T00:00:00-06:00  ...                      NaN
13558  2020-01-05T00:00:00-06:00  ...                      NaN

[5 rows x 19 columns]

As we can see, some counties don't have first case until May! So after_first_case data and before_first_case data are imbalanced. So we will only use counties where both before and after data are observed.

In [34]:
before_no_shelter.head()

   state state_code  ... device_count  completely_home_device_count
0    5.0         AR  ...       121473                         22952
1    5.0         AR  ...       135828                         25603
2    5.0         AR  ...       201367                         52327
3    5.0         AR  ...      1673414                        348702
4    5.0         AR  ...       229563                         47069

[5 rows x 6 columns]

In [35]:
before_no_shelter['completely_home_device_percent'] = \
  before_no_shelter['completely_home_device_count'] / before_no_shelter['device_count']

In [36]:
before_no_shelter.head()

   state  ... completely_home_device_percent
0    5.0  ...                       0.188947
1    5.0  ...                       0.188496
2    5.0  ...                       0.259859
3    5.0  ...                       0.208378
4    5.0  ...                       0.205037

[5 rows x 7 columns]

In [37]:
before_no_shelter.drop(['device_count', 'completely_home_device_count'], axis = 1,
                       inplace = True)

In [38]:
before_no_shelter.head()

   state state_code  ... county_code  completely_home_device_percent
0    5.0         AR  ...        5001                        0.188947
1    5.0         AR  ...        5003                        0.188496
2    5.0         AR  ...        5005                        0.259859
3    5.0         AR  ...        5007                        0.208378
4    5.0         AR  ...        5009                        0.205037

[5 rows x 5 columns]

In [39]:
after_no_shelter.head()

   state state_code  ... device_count  completely_home_device_count
0    5.0         AR  ...        52657                         12686
1    5.0         AR  ...        61736                         16349
2    5.0         AR  ...        94854                         32820
3    5.0         AR  ...       936427                        341644
4    5.0         AR  ...       126588                         38616

[5 rows x 6 columns]

In [40]:
after_no_shelter['completely_home_device_percent'] = \
  after_no_shelter['completely_home_device_count'] / after_no_shelter['device_count']
after_no_shelter.drop(['device_count', 'completely_home_device_count'], axis = 1,
                       inplace = True)

In [41]:
after_no_shelter.head()

   state state_code  ... county_code  completely_home_device_percent
0    5.0         AR  ...        5001                        0.240918
1    5.0         AR  ...        5003                        0.264821
2    5.0         AR  ...        5005                        0.346005
3    5.0         AR  ...        5007                        0.364838
4    5.0         AR  ...        5009                        0.305053

[5 rows x 5 columns]

In [42]:
merged_no_shelter = before_no_shelter.merge(after_no_shelter, on=['state', 'state_code',\
                                                                  'cnamelong', 'county_code'],\
                                            suffixes = ('_before', '_after'))

In [43]:
merged_no_shelter.head()

   state  ... completely_home_device_percent_after
0    5.0  ...                             0.240918
1    5.0  ...                             0.264821
2    5.0  ...                             0.346005
3    5.0  ...                             0.364838
4    5.0  ...                             0.305053

[5 rows x 6 columns]

In [44]:
merged_no_shelter['%diff_stay_at_home'] = merged_no_shelter['completely_home_device_percent_after'] -  merged_no_shelter['completely_home_device_percent_before']

In [45]:
merged_no_shelter.head()

   state state_code  ... completely_home_device_percent_after  %diff_stay_at_home
0    5.0         AR  ...                             0.240918            0.051970
1    5.0         AR  ...                             0.264821            0.076325
2    5.0         AR  ...                             0.346005            0.086147
3    5.0         AR  ...                             0.364838            0.156460
4    5.0         AR  ...                             0.305053            0.100015

[5 rows x 7 columns]

In [46]:
merged_no_shelter.drop(['completely_home_device_percent_before', 'completely_home_device_percent_after'], axis = 1,
                       inplace = True)

In [47]:
merged_no_shelter.head()

   state state_code        cnamelong  county_code  %diff_stay_at_home
0    5.0         AR  Arkansas County         5001            0.051970
1    5.0         AR    Ashley County         5003            0.076325
2    5.0         AR    Baxter County         5005            0.086147
3    5.0         AR    Benton County         5007            0.156460
4    5.0         AR     Boone County         5009            0.100015

In [48]:
before_with_shelter['completely_home_device_percent'] = \
  before_with_shelter['completely_home_device_count'] / before_with_shelter['device_count']
before_with_shelter.drop(['device_count', 'completely_home_device_count'], axis = 1,
                       inplace = True)

after_with_shelter['completely_home_device_percent'] = \
  after_with_shelter['completely_home_device_count'] / after_with_shelter['device_count']
after_with_shelter.drop(['device_count', 'completely_home_device_count'], axis = 1,
                       inplace = True)
merged_with_shelter = before_with_shelter.merge(after_with_shelter, on=['state', 'state_code',\
                                                                  'cnamelong', 'county_code'],\
                                            suffixes = ('_before', '_after'))

merged_with_shelter['%diff_stay_at_home'] = merged_with_shelter['completely_home_device_percent_after'] - merged_with_shelter['completely_home_device_percent_before']

merged_with_shelter.drop(['completely_home_device_percent_before', 'completely_home_device_percent_after'], axis = 1,
                       inplace = True)

In [49]:
merged_with_shelter.head()

   state state_code       cnamelong  county_code  %diff_stay_at_home
0    1.0         AL  Autauga County         1001            0.119839
1    1.0         AL  Baldwin County         1003            0.112319
2    1.0         AL  Barbour County         1005            0.071000
3    1.0         AL     Bibb County         1007            0.089074
4    1.0         AL   Blount County         1009            0.098240

In [50]:
merged_no_shelter.head()

   state state_code        cnamelong  county_code  %diff_stay_at_home
0    5.0         AR  Arkansas County         5001            0.051970
1    5.0         AR    Ashley County         5003            0.076325
2    5.0         AR    Baxter County         5005            0.086147
3    5.0         AR    Benton County         5007            0.156460
4    5.0         AR     Boone County         5009            0.100015

In [51]:
merged_no_shelter.shape

(395, 5)

In [52]:
merged_with_shelter.shape

(2484, 5)

In [53]:
merged_with_shelter['%diff_stay_at_home'].mean() - merged_no_shelter['%diff_stay_at_home'].mean()

0.028664851038466707

In [54]:
# SIP means does this county has issued shelter in place?
# 1 means yes, 0 means no
merged_with_shelter['SIP?'] = 1

In [55]:
merged_with_shelter.head()

   state state_code       cnamelong  county_code  %diff_stay_at_home  SIP?
0    1.0         AL  Autauga County         1001            0.119839     1
1    1.0         AL  Baldwin County         1003            0.112319     1
2    1.0         AL  Barbour County         1005            0.071000     1
3    1.0         AL     Bibb County         1007            0.089074     1
4    1.0         AL   Blount County         1009            0.098240     1

In [56]:
merged_no_shelter['SIP?'] = 0

In [57]:
merged_no_shelter.head()

   state state_code        cnamelong  county_code  %diff_stay_at_home  SIP?
0    5.0         AR  Arkansas County         5001            0.051970     0
1    5.0         AR    Ashley County         5003            0.076325     0
2    5.0         AR    Baxter County         5005            0.086147     0
3    5.0         AR    Benton County         5007            0.156460     0
4    5.0         AR     Boone County         5009            0.100015     0

In [58]:
merged_data = merged_with_shelter.append(merged_no_shelter)

In [59]:
merged_data.shape

(2879, 6)

In [60]:
merged_data.head()

   state state_code       cnamelong  county_code  %diff_stay_at_home  SIP?
0    1.0         AL  Autauga County         1001            0.119839     1
1    1.0         AL  Baldwin County         1003            0.112319     1
2    1.0         AL  Barbour County         1005            0.071000     1
3    1.0         AL     Bibb County         1007            0.089074     1
4    1.0         AL   Blount County         1009            0.098240     1

In [61]:
merged_data[merged_data['SIP?'] == 0]

     state state_code  ... %diff_stay_at_home  SIP?
0      5.0         AR  ...           0.051970     0
1      5.0         AR  ...           0.076325     0
2      5.0         AR  ...           0.086147     0
3      5.0         AR  ...           0.156460     0
4      5.0         AR  ...           0.100015     0
..     ...        ...  ...                ...   ...
390   56.0         WY  ...           0.083395     0
391   66.0         GU  ...           0.208088     0
392   69.0         MP  ...           0.176838     0
393   78.0         VI  ...           0.079552     0
394   78.0         VI  ...           0.085407     0

[395 rows x 6 columns]

In [62]:
merged_data[merged_data['SIP?'] == 1]

      state state_code  ... %diff_stay_at_home  SIP?
0       1.0         AL  ...           0.119839     1
1       1.0         AL  ...           0.112319     1
2       1.0         AL  ...           0.071000     1
3       1.0         AL  ...           0.089074     1
4       1.0         AL  ...           0.098240     1
...     ...        ...  ...                ...   ...
2479   72.0         PR  ...           0.284883     1
2480   72.0         PR  ...           0.195316     1
2481   72.0         PR  ...           0.251756     1
2482   72.0         PR  ...           0.230393     1
2483   72.0         PR  ...           0.305898     1

[2484 rows x 6 columns]

In [63]:
merged_data.to_csv("county_data_with_and_without_SIP.csv", index = False)

# Add covariates like median income and political difference of a county to existing data.

In [ ]:
cd drive/My\ Drive/week5

/content/drive/My Drive/week5

In [64]:
import pandas as pd
import numpy as np

In [65]:
data = pd.read_csv("county_data_with_and_without_SIP.csv")

In [67]:
# covariates data
df_chr_1 = pd.read_csv('2020 County Health Rankings Data - Ranked Measure Data.csv')
df_chr_2 = pd.read_csv('2020 County Health Rankings Data - Additional Measure Data.csv')
df_governors = pd.read_csv('us_states_governors.csv', encoding='latin-1')
df_election = pd.read_csv('2016_US_County_Level_Presidential_Results.csv')

In [68]:
df_election['political_party'] = df_election.apply(lambda x: 'Republican' if x['per_gop'] > x['per_dem'] else 'Democratic', axis=1)
df_election['political_diff'] = df_election.apply(lambda x: x['per_dem'] - x['per_gop'], axis=1)

In [69]:
df_chr = df_chr_1.merge(df_chr_2, on=['FIPS', 'State', 'County'])
columns = ['FIPS', 'State', 'County', 'Population_y', 'Years of Potential Life Lost Rate', '% Fair or Poor Health', 
           'Average Number of Physically Unhealthy Days', 'Average Number of Mentally Unhealthy Days',
           '% Low Birthweight', '% Smokers', '% Adults with Obesity', 'Food Environment Index', 
           '% Physically Inactive', '% With Access to Exercise Opportunities', '% Excessive Drinking',
           '% Driving Deaths with Alcohol Involvement', 'Chlamydia Rate', 'Teen Birth Rate', '% Uninsured_x',
           'Primary Care Physicians Rate', 'Primary Care Physicians Ratio', 
           'Dentist Rate', 'Dentist Ratio', 'Mental Health Provider Rate', 'Mental Health Provider Ratio',
           'Preventable Hospitalization Rate', '% With Annual Mammogram', '% Vaccinated',
           'High School Graduation Rate', '% Some College', '% Unemployed', '% Children in Poverty',
           'Income Ratio', '% Single-Parent Households', 'Social Association Rate', 'Violent Crime Rate',
           'Injury Death Rate', 'Average Daily PM2.5', 'Presence of Water Violation', '% Severe Housing Problems',
           '% Drive Alone to Work', '% Long Commute - Drives Alone',
           'Life Expectancy', 'Age-Adjusted Death Rate', 'Child Mortality Rate',
           'Infant Mortality Rate', '% Frequent Physical Distress', '% Frequent Mental Distress',
           '% Adults with Diabetes', 'HIV Prevalence Rate', 
           '% Food Insecure', '% Limited Access to Healthy Foods',
           'Drug Overdose Mortality Rate', 'Motor Vehicle Mortality Rate',
           '% Insufficient Sleep', '% Uninsured_y', '% Uninsured.1',
           'Other Primary Care Provider Rate', 'Other Primary Care Provider Ratio','% Disconnected Youth',
           'Average Grade Performance', 'Average Grade Performance.1', 'Median Household Income', 
           '% Enrolled in Free or Reduced Lunch', 'Segregation index', 'Segregation Index', 'Homicide Rate',
           'Suicide Rate (Age-Adjusted)', 'Firearm Fatalities Rate',
           'Juvenile Arrest Rate', 'Average Traffic Volume per Meter of Major Roadways',
           '% Homeowners', '% Severe Housing Cost Burden', '% less than 18 years of age', '% 65 and over',
           '% Black', '% American Indian & Alaska Native', '% Asian', '% Native Hawaiian/Other Pacific Islander',
           '% Hispanic', '% Non-Hispanic White', '% Not Proficient in English', '% Female', '% Rural'
          ]
df_chr = df_chr[columns]

In [70]:
df_governors.head()

  State Code      State Name  ... Shelter in place ends     Reopen
0         AL         Alabama  ...             4/30/2020  4/30/2020
1         AK          Alaska  ...             4/24/2020  4/24/2020
2         AS  American Samoa  ...                   NaN        NaN
3         AZ         Arizona  ...             5/16/2020   5/8/2020
4         AR        Arkansas  ...                   NaN        NaN

[5 rows x 8 columns]

In [71]:
df_election.head()

   Unnamed: 0  votes_dem  ...  political_party  political_diff
0           0    93003.0  ...       Republican       -0.151711
1           1    93003.0  ...       Republican       -0.151711
2           2    93003.0  ...       Republican       -0.151711
3           3    93003.0  ...       Republican       -0.151711
4           4    93003.0  ...       Republican       -0.151711

[5 rows x 13 columns]

In [72]:
df_chr.head()

   FIPS    State   County  ...  % Not Proficient in English  % Female  % Rural
0  1000  Alabama      NaN  ...                            1      51.6     41.0
1  1001  Alabama  Autauga  ...                            1      51.4     42.0
2  1003  Alabama  Baldwin  ...                            1      51.5     42.3
3  1005  Alabama  Barbour  ...                            2      47.2     67.8
4  1007  Alabama     Bibb  ...                            0      46.8     68.4

[5 rows x 84 columns]

In [73]:
df_merged = data.merge(df_governors, how='left', left_on='state_code', right_on='State Code')
df_merged = df_merged.merge(df_chr, left_on='county_code', right_on='FIPS')
df_merged = df_merged.merge(df_election, left_on='county_code', right_on='combined_fips')
df_merged.head()

   state state_code  ... political_party  political_diff
0    1.0         AL  ...      Republican       -0.494789
1    1.0         AL  ...      Republican       -0.577862
2    1.0         AL  ...      Republican       -0.056112
3    1.0         AL  ...      Republican       -0.555441
4    1.0         AL  ...      Republican       -0.813820

[5 rows x 111 columns]

In [74]:
df_merged.shape

(2799, 111)

In [75]:
data.shape

(2879, 6)

we are losing 80 rows after merging with covariates, let's see why

In [76]:
for county_code in set(data['county_code']):
  if not county_code in set(df_chr['FIPS']):
    print(county_code)

66010
69110
78010
78030
72001
72003
72005
72007
72009
72011
72013
72015
72017
72019
72021
72023
72025
72027
72029
72031
72033
72035
72037
72039
72041
72043
72045
72047
72051
72053
72054
72055
72057
72059
72061
72063
72065
72067
72069
72071
72073
72075
72077
72079
72081
72083
72085
72087
72089
72091
72093
72095
72097
72099
72101
72103
72105
72107
72109
72111
72113
72115
72117
72119
72121
72123
72125
72127
72129
72131
72133
72135
72137
72139
72141
72143
72145
72147
72149
72151
72153

In [77]:
df_chr[df_chr['FIPS'] == 66010]

Empty DataFrame
Columns: [FIPS, State, County, Population_y, Years of Potential Life Lost Rate, % Fair or Poor Health, Average Number of Physically Unhealthy Days, Average Number of Mentally Unhealthy Days, % Low Birthweight, % Smokers, % Adults with Obesity, Food Environment Index, % Physically Inactive, % With Access to Exercise Opportunities, % Excessive Drinking, % Driving Deaths with Alcohol Involvement, Chlamydia Rate, Teen Birth Rate, % Uninsured_x, Primary Care Physicians Rate, Primary Care Physicians Ratio, Dentist Rate, Dentist Ratio, Mental Health Provider Rate, Mental Health Provider Ratio, Preventable Hospitalization Rate, % With Annual Mammogram, % Vaccinated, High School Graduation Rate, % Some College, % Unemployed, % Children in Poverty, Income Ratio, % Single-Parent Households, Social Association Rate, Violent Crime Rate, Injury Death Rate, Average Daily PM2.5, Presence of Water Violation, % Severe Housing Problems, % Drive Alone to Work, % Long Commute - Drives Alone, Life Expectancy, Age-Adjusted Death Rate, Child Mortality Rate, Infant Mortality Rate, % Frequent Physical Distress, % Frequent Mental Distress, % Adults with Diabetes, HIV Prevalence Rate, % Food Insecure, % Limited Access to Healthy Foods, Drug Overdose Mortality Rate, Motor Vehicle Mortality Rate, % Insufficient Sleep, % Uninsured_y, % Uninsured.1, Other Primary Care Provider Rate, Other Primary Care Provider Ratio, % Disconnected Youth, Average Grade Performance, Average Grade Performance.1, Median Household Income, % Enrolled in Free or Reduced Lunch, Segregation index, Segregation Index, Homicide Rate, Suicide Rate (Age-Adjusted), Firearm Fatalities Rate, Juvenile Arrest Rate, Average Traffic Volume per Meter of Major Roadways, % Homeowners, % Severe Housing Cost Burden, % less than 18 years of age, % 65 and over, % Black, % American Indian & Alaska Native, % Asian, % Native Hawaiian/Other Pacific Islander, % Hispanic, % Non-Hispanic White, % Not Proficient in English, % Female, % Rural]
Index: []

[0 rows x 84 columns]

It turns out we don't have covariate data in our df_chr on some of the counties. (around 84 of them). For now we will just ignore these data. Cause without covariates we can't do the propensity matching business

In [78]:
df_merged.to_csv("county_data_with_covariates.csv", index = False)

Now let's pick only the covariates that we are using for propensity score matching:


1.   Median Income, % Rural, population density, political difference
2.   % of 18 or less, % 65 and older
3.   % Asian, % Black
4.   first covid case date

In [79]:
df_merged.head()

   state state_code  ... political_party  political_diff
0    1.0         AL  ...      Republican       -0.494789
1    1.0         AL  ...      Republican       -0.577862
2    1.0         AL  ...      Republican       -0.056112
3    1.0         AL  ...      Republican       -0.555441
4    1.0         AL  ...      Republican       -0.813820

[5 rows x 111 columns]

In [80]:
# all the data we have about a county
for col in df_merged.columns:
  print(col)

state
state_code
cnamelong
county_code
%diff_stay_at_home
SIP?
State Code
State Name
Governor
Party
Date
Shelter at home begins
Shelter in place ends
Reopen
FIPS
State
County
Population_y
Years of Potential Life Lost Rate
% Fair or Poor Health
Average Number of Physically Unhealthy Days
Average Number of Mentally Unhealthy Days
% Low Birthweight
% Smokers
% Adults with Obesity
Food Environment Index
% Physically Inactive
% With Access to Exercise Opportunities
% Excessive Drinking
% Driving Deaths with Alcohol Involvement
Chlamydia Rate
Teen Birth Rate
% Uninsured_x
Primary Care Physicians Rate
Primary Care Physicians Ratio
Dentist Rate
Dentist Ratio
Mental Health Provider Rate
Mental Health Provider Ratio
Preventable Hospitalization Rate
% With Annual Mammogram
% Vaccinated
High School Graduation Rate
% Some College
% Unemployed
% Children in Poverty
Income Ratio
% Single-Parent Households
Social Association Rate
Violent Crime Rate
Injury Death Rate
Average Daily PM2.5
Presence of Water Violation
% Severe Housing Problems
% Drive Alone to Work
% Long Commute - Drives Alone
Life Expectancy
Age-Adjusted Death Rate
Child Mortality Rate
Infant Mortality Rate
% Frequent Physical Distress
% Frequent Mental Distress
% Adults with Diabetes
HIV Prevalence Rate
% Food Insecure
% Limited Access to Healthy Foods
Drug Overdose Mortality Rate
Motor Vehicle Mortality Rate
% Insufficient Sleep
% Uninsured_y
% Uninsured.1
Other Primary Care Provider Rate
Other Primary Care Provider Ratio
% Disconnected Youth
Average Grade Performance
Average Grade Performance.1
Median Household Income
% Enrolled in Free or Reduced Lunch
Segregation index
Segregation Index
Homicide Rate
Suicide Rate (Age-Adjusted)
Firearm Fatalities Rate
Juvenile Arrest Rate
Average Traffic Volume per Meter of Major Roadways
% Homeowners
% Severe Housing Cost Burden
% less than 18 years of age
% 65 and over
% Black
% American Indian & Alaska Native
% Asian
% Native Hawaiian/Other Pacific Islander
% Hispanic
% Non-Hispanic White
% Not Proficient in English
% Female
% Rural
Unnamed: 0
votes_dem
votes_gop
total_votes
per_dem
per_gop
diff
per_point_diff
state_abbr
county_name
combined_fips
political_party
political_diff

In [83]:
df_reduced_covariate = \
df_merged[['state', 'state_code', 'State Name','cnamelong', 'county_code', '%diff_stay_at_home',\
           'SIP?', 'Median Household Income', '% Rural', 'Population_y', 'political_diff',\
           '% less than 18 years of age', '% 65 and over', '% Asian', '% Black', '% Hispanic',\
           '% Non-Hispanic White']]

In [84]:
df_reduced_covariate.head()

   state state_code State Name  ... % Black  % Hispanic  % Non-Hispanic White
0    1.0         AL    Alabama  ...    19.3         3.0                  74.3
1    1.0         AL    Alabama  ...     8.8         4.6                  83.1
2    1.0         AL    Alabama  ...    48.0         4.3                  45.6
3    1.0         AL    Alabama  ...    21.1         2.6                  74.6
4    1.0         AL    Alabama  ...     1.5         9.6                  86.9

[5 rows x 17 columns]

Let's exclude the first covid case date for now, if we want, can add it later. (don't know how logisitc regresion cope with date object...)

In [85]:
df_reduced_covariate.to_csv("county_data_with_reduced_covariates.csv", index = False)