<a href="https://colab.research.google.com/github/wenjunsun/Covid-19-analysis-with-uw-ubicomp/blob/master/data_and_pre-processing/include_state_with_no_stay_at_home_order.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

We found out that our current dataset ignores the counties/states where they didn't have a stay at home order at all. Data somehow got deleted when we either merge them together or some other operations. Let's find out what the cause is and create a new dataset that includes the counties withuot shelter in place order. \\
This is because we want to do causal inference and see if shelter in place order does change people's behavior.

In [ ]:
cd drive/My\ Drive/COVID\ 19\ data\ analysis

/content/drive/My Drive/COVID 19 data analysis

In [ ]:
ls

 aggreagate_data_on_county.ipynb
 agg_social_dist
 agg_social_dist_2.csv
 compare_30_days_before_and_after.ipynb
'Copy of COVID-19 US state policy database.csv'
 days_since.csv
 graphs.ipynb
 include_state_with_no_stay_at_home_order.ipynb
 merge_mobility_with_first_case_and_shelter_in_place.ipynb
 simple_analysis_graph.ipynb
 small_data.csv
 social_dist_all_trimmed.csv
 social_dist_with_dates
 social_dist_with_days_since

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv('social_dist_with_days_since')

In [ ]:
data.shape

(27850773, 22)

so merge days since covid and social_dist data is correct, since we have the correct number of rows.

In [ ]:
agg_data = pd.read_csv('agg_social_dist')

In [ ]:
agg_data.isnull().sum()

Unnamed: 0                              0
date_range_start                        0
date_range_end                          0
state                                   0
state_code                              0
cnamelong                               0
county_code                             0
days_since_first_case                   0
days_since_shelter                      0
candidate_device_count                  0
device_count                            0
completely_home_device_count            0
part_time_work_behavior_devices         0
full_time_work_behavior_devices         0
delivery_behavior_devices               0
median_home_dwell_time                  0
median_non_home_dwell_time         301341
median_percentage_time_home        301341
distance_traveled_from_home           727
dtype: int64

We see that our aggregate data has 0 null values in days_since_first_case, which shouldn't be the case.

In [ ]:
days_since = pd.read_csv("days_since.csv")

In [ ]:
days_since[days_since['Date - shelter in place'].isnull()]

      Unnamed: 0 Date - first case  ... state_code                state_name
111          111        2020-03-30  ...         AR                  Arkansas
112          112        2020-03-29  ...         AR                  Arkansas
113          113        2020-03-28  ...         AR                  Arkansas
114          114        2020-03-22  ...         AR                  Arkansas
115          115        2020-03-22  ...         AR                  Arkansas
...          ...               ...  ...        ...                       ...
3151        3151        2020-03-31  ...         MP  Northern Mariana Islands
3152        3152        2020-03-31  ...         MP  Northern Mariana Islands
3231        3231        2020-03-16  ...         VI            Virgin Islands
3232        3232        2020-03-16  ...         VI            Virgin Islands
3233        3233        2020-03-16  ...         VI            Virgin Islands

[518 rows x 12 columns]

In [ ]:
days_since[days_since['Date - first case'].isnull()]

      Unnamed: 0 Date - first case  ... state_code      state_name
67            67               NaN  ...         AK          Alaska
68            68               NaN  ...         AK          Alaska
71            71               NaN  ...         AK          Alaska
72            72               NaN  ...         AK          Alaska
73            73               NaN  ...         AK          Alaska
...          ...               ...  ...        ...             ...
3143        3143               NaN  ...         AS  American Samoa
3144        3144               NaN  ...         AS  American Samoa
3145        3145               NaN  ...         AS  American Samoa
3146        3146               NaN  ...         AS  American Samoa
3147        3147               NaN  ...         AS  American Samoa

[194 rows x 12 columns]

In [ ]:
agg_data[agg_data['cnamelong'] == 'Arkansas County']

Empty DataFrame
Columns: [Unnamed: 0, date_range_start, date_range_end, state, state_code, cnamelong, county_code, days_since_first_case, days_since_shelter, candidate_device_count, device_count, completely_home_device_count, part_time_work_behavior_devices, full_time_work_behavior_devices, delivery_behavior_devices, median_home_dwell_time, median_non_home_dwell_time, median_percentage_time_home, distance_traveled_from_home]
Index: []

In [ ]:
data[data['cnamelong'] == 'Arkansas County']

          Unnamed: 0  ... days_since_shelter
4462            4462  ...                NaN
22338          22338  ...                NaN
23285          23285  ...                NaN
25150          25150  ...                NaN
30503          30503  ...                NaN
...              ...  ...                ...
27796641    27796641  ...                NaN
27804024    27804024  ...                NaN
27831667    27831667  ...                NaN
27834833    27834833  ...                NaN
27842581    27842581  ...                NaN

[2667 rows x 22 columns]

Did a little digging, found out that groupby function ignores the NaN values in its groupby columns. This can be an issue since we want to preserve NaN days_since_shelter. We need to update our pandas package to 1.1 to do this.

In [ ]:
!pip install --upgrade --pre pandas==1.1.0rc0

Collecting pandas==1.1.0rc0
  Downloading https://files.pythonhosted.org/packages/f2/0a/4c863b61ec5feb2e2a2475e3261841e71667ad80df353d766682f32060e1/pandas-1.1.0rc0-cp36-cp36m-manylinux1_x86_64.whl (10.5MB)
     |████████████████████████████████| 10.5MB 3.1MB/s
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas==1.1.0rc0) (2.8.1)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas==1.1.0rc0) (2018.9)
Requirement already satisfied, skipping upgrade: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas==1.1.0rc0) (1.18.5)
Requirement already satisfied, skipping upgrade: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas==1.1.0rc0) (1.15.0)
ERROR: google-colab 1.0.0 has requirement pandas~=1.0.0; python_version >= "3.0", but you'll have pandas 1.1.0rc0 which is incompatible.
Installing collected packages: pandas
  Found existing installation: pandas 1.0.5
    Uninstalling pandas-1.0.5:
      Successfully uninstalled pandas-1.0.5
Successfully installed pandas-1.1.0rc0

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
wm = lambda x: np.average(x, weights= data.loc[x.index, "device_count"])

In [ ]:
agg_data = data.groupby(["date_range_start",'date_range_end','state','state_code','cnamelong','county_code','days_since_first_case','days_since_shelter'], dropna=False).agg(
    candidate_device_count = ('candidate_device_count', 'sum'),
    device_count = ('device_count', 'sum'),
    completely_home_device_count = ('completely_home_device_count', 'sum'),
    part_time_work_behavior_devices = ('part_time_work_behavior_devices', 'sum'),
    full_time_work_behavior_devices = ('full_time_work_behavior_devices', 'sum'),
    delivery_behavior_devices = ('delivery_behavior_devices', 'sum'),
    median_home_dwell_time = ('median_home_dwell_time',wm),
    median_non_home_dwell_time = ('median_non_home_dwell_time', wm),
    median_percentage_time_home = ('median_percentage_time_home', wm), 
    distance_traveled_from_home = ('distance_traveled_from_home', wm)).reset_index()

In [ ]:
agg_data.shape

(414853, 18)

check that our agg_data has the counties that has NaN on days_since_shelter column. Arkansas County is one of the county that never implemented shelter in place, let's check we have rows about that county.

In [ ]:
agg_data[agg_data['cnamelong'] == 'Arkansas County']

                 date_range_start  ... distance_traveled_from_home
1319    2020-01-01T00:00:00-06:00  ...                 7323.903202
4584    2020-01-02T00:00:00-06:00  ...                 7974.714706
7852    2020-01-03T00:00:00-06:00  ...                 7068.951923
11120   2020-01-04T00:00:00-06:00  ...                 8935.468421
14387   2020-01-05T00:00:00-06:00  ...                 5317.486752
...                           ...  ...                         ...
399938  2020-05-02T00:00:00-05:00  ...                 6175.187332
403184  2020-05-03T00:00:00-05:00  ...                 5338.799581
406430  2020-05-04T00:00:00-05:00  ...                 6051.807843
409673  2020-05-05T00:00:00-05:00  ...                 6421.222005
412916  2020-05-06T00:00:00-05:00  ...                 6183.085675

[127 rows x 18 columns]

Great! Now we have the rows which has NaN in days_since_shelter column, because they never have shelter in place order from state/county! Let's save this to another csv file

In [ ]:
agg_data.to_csv("agg_social_dist_2.csv", index=False)

In [ ]:
data = pd.read_csv("agg_social_dist_2.csv")

In [ ]:
data

                 date_range_start  ... distance_traveled_from_home
0       2020-01-01T00:00:00+10:00  ...                3.722158e+06
1       2020-01-01T00:00:00+10:00  ...                7.430000e+02
2       2020-01-01T00:00:00+10:00  ...                         NaN
3       2020-01-01T00:00:00+10:00  ...                2.156500e+04
4       2020-01-01T00:00:00-04:00  ...                2.278000e+04
...                           ...  ...                         ...
414848  2020-05-06T00:00:00-10:00  ...                9.709844e+03
414849  2020-05-06T00:00:00-10:00  ...                5.268723e+03
414850  2020-05-06T00:00:00-10:00  ...                5.898517e+03
414851  2020-05-06T00:00:00-10:00  ...                5.629950e+03
414852  2020-05-06T00:00:00-11:00  ...                4.673000e+03

[414853 rows x 18 columns]

In [ ]:
days_since = pd.read_csv("days_since.csv")

In [ ]:
days_since.head()

   Unnamed: 0 Date - first case Date - first death  ... state state_code state_name
0           0        2020-03-24         2020-04-07  ...   1.0         AL    Alabama
1           1        2020-03-15         2020-03-29  ...   1.0         AL    Alabama
2           2        2020-04-03         2020-04-29  ...   1.0         AL    Alabama
3           3        2020-03-30         2020-05-08  ...   1.0         AL    Alabama
4           4        2020-03-25         2020-05-17  ...   1.0         AL    Alabama

[5 rows x 12 columns]

In [ ]:
days_since = days_since[['county_code', 'Date - first case', 'Date - shelter in place']]

In [ ]:
merged_data = data.merge(days_since, how='left', on='county_code')

In [ ]:
merged_data.head()

            date_range_start  ... Date - shelter in place
0  2020-01-01T00:00:00+10:00  ...                     NaN
1  2020-01-01T00:00:00+10:00  ...                     NaN
2  2020-01-01T00:00:00+10:00  ...                     NaN
3  2020-01-01T00:00:00+10:00  ...                     NaN
4  2020-01-01T00:00:00-04:00  ...     2020-04-01 00:00:00

[5 rows x 20 columns]

In [ ]:
merged_data.drop(['date_range_end'], axis=1, inplace=True)

In [ ]:
merged_data.to_csv("agg_social_dist_2.csv", index=False)

In [ ]:
data = pd.read_csv("agg_social_dist_2.csv")

In [ ]:
data.head()

            date_range_start  state  ... Date - first case Date - shelter in place
0  2020-01-01T00:00:00+10:00   66.0  ...        2020-03-16                     NaN
1  2020-01-01T00:00:00+10:00   69.0  ...        2020-03-31                     NaN
2  2020-01-01T00:00:00+10:00   69.0  ...        2020-03-31                     NaN
3  2020-01-01T00:00:00+10:00   69.0  ...        2020-03-31                     NaN
4  2020-01-01T00:00:00-04:00   23.0  ...        2020-04-03     2020-04-01 00:00:00

[5 rows x 19 columns]