<a href="https://colab.research.google.com/github/wenjunsun/Covid-19-analysis-with-uw-ubicomp/blob/master/2020-11/prepare_google_mobility_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In this notebook we will prepare the dataset for propensity score matching with Google's Mobility dataset. The dataset is gotten from [this website](https://www.google.com/covid19/mobility/), and we verified that its data is very similar to our dataset, but they have different metrics measuring people's length of stay in retail stores/groceries. It is worth doing the same analysis we did on Safegraph on this dataset to validate our results.

# 0. go to directory containing data + load packages

In [ ]:
cd drive/My\ Drive/covid/PSM/data

/content/drive/My Drive/covid/PSM/data

In [ ]:
ls

agg_social_dist_2.csv
agg_social_dist.csv
county_data_with_reduced_covariates_with_SIP.csv
google_mobility.csv
social_dist_aggregated_on_county.csv

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# 1. load + clean data

In [ ]:
data = pd.read_csv('google_mobility.csv', parse_dates=['date'],
                   infer_datetime_format = True)

In [ ]:
data.head()

  country_region_code  ... residential_percent_change_from_baseline
0                  US  ...                                     -1.0
1                  US  ...                                     -1.0
2                  US  ...                                      5.0
3                  US  ...                                      1.0
4                  US  ...                                      0.0

[5 rows x 14 columns]

In [ ]:
data.dtypes

country_region_code                                           object
country_region                                                object
sub_region_1                                                  object
sub_region_2                                                  object
metro_area                                                   float64
iso_3166_2_code                                               object
census_fips_code                                             float64
date                                                  datetime64[ns]
retail_and_recreation_percent_change_from_baseline           float64
grocery_and_pharmacy_percent_change_from_baseline            float64
parks_percent_change_from_baseline                           float64
transit_stations_percent_change_from_baseline                float64
workplaces_percent_change_from_baseline                      float64
residential_percent_change_from_baseline                     float64
dtype: object

So this dataset is already in a form that has every county's behavioral data in each date from mid February to current date. We want to get the average of behavioral data of each county from Febuary to `6-1-2020`, as we did with SafeGraph analysis.

We can see some data have null `census_fips_code`?

In [ ]:
num_counties = len(data['census_fips_code'].unique())
print(f'there are {num_counties} unique counties within Google mobility dataset')

there are 2834 unique counties within Google mobility dataset

In [ ]:
data.dropna(subset=['census_fips_code'], inplace = True)

In [ ]:
data['census_fips_code'].isnull().sum()

0

In [ ]:
# drop unnecessary columns
data.drop(['country_region_code', 'country_region', 'sub_region_1',
           'sub_region_2', 'metro_area', 'iso_3166_2_code'], axis = 1, inplace = True)

In [ ]:
data.head()

     census_fips_code  ... residential_percent_change_from_baseline
532            1001.0  ...                                      NaN
533            1001.0  ...                                      NaN
534            1001.0  ...                                      5.0
535            1001.0  ...                                      0.0
536            1001.0  ...                                      0.0

[5 rows x 8 columns]

# 2. filter data with non-desirable dates

Now we will delete all the rows which have dates after `6-1-2020`

In [ ]:
# default date to filter is 6-1-2020
# given a dataframe and a column that denotes the date column,
# and a date to filter by, return a new dataframe such that the new one
# doesn't contain any rows after the date parameter.
def filterDatesAfter(date = np.datetime64('2020-06-01'), dataset = data, dateColumn = 'date'):

  # helper function that given a row, return true if this row's date is after date. 
  def isThisRowAfterDate(row, date = date):
    return row['date'] > date
  
  newData = dataset[dataset.apply(lambda row: not isThisRowAfterDate(row), axis = 1)]

  return newData

In [ ]:
data = filterDatesAfter()

In [ ]:
data['date'].unique()

array(['2020-02-15T00:00:00.000000000', '2020-02-16T00:00:00.000000000',
       '2020-02-17T00:00:00.000000000', '2020-02-18T00:00:00.000000000',
       '2020-02-19T00:00:00.000000000', '2020-02-20T00:00:00.000000000',
       '2020-02-21T00:00:00.000000000', '2020-02-22T00:00:00.000000000',
       '2020-02-23T00:00:00.000000000', '2020-02-24T00:00:00.000000000',
       '2020-02-25T00:00:00.000000000', '2020-02-26T00:00:00.000000000',
       '2020-02-27T00:00:00.000000000', '2020-02-28T00:00:00.000000000',
       '2020-02-29T00:00:00.000000000', '2020-03-01T00:00:00.000000000',
       '2020-03-02T00:00:00.000000000', '2020-03-03T00:00:00.000000000',
       '2020-03-04T00:00:00.000000000', '2020-03-05T00:00:00.000000000',
       '2020-03-06T00:00:00.000000000', '2020-03-07T00:00:00.000000000',
       '2020-03-08T00:00:00.000000000', '2020-03-09T00:00:00.000000000',
       '2020-03-10T00:00:00.000000000', '2020-03-11T00:00:00.000000000',
       '2020-03-12T00:00:00.000000000', '2020-03-13T00:00:00.000000000',
       '2020-03-14T00:00:00.000000000', '2020-03-15T00:00:00.000000000',
       '2020-03-16T00:00:00.000000000', '2020-03-17T00:00:00.000000000',
       '2020-03-18T00:00:00.000000000', '2020-03-19T00:00:00.000000000',
       '2020-03-20T00:00:00.000000000', '2020-03-21T00:00:00.000000000',
       '2020-03-22T00:00:00.000000000', '2020-03-23T00:00:00.000000000',
       '2020-03-24T00:00:00.000000000', '2020-03-25T00:00:00.000000000',
       '2020-03-26T00:00:00.000000000', '2020-03-27T00:00:00.000000000',
       '2020-03-28T00:00:00.000000000', '2020-03-29T00:00:00.000000000',
       '2020-03-30T00:00:00.000000000', '2020-03-31T00:00:00.000000000',
       '2020-04-01T00:00:00.000000000', '2020-04-02T00:00:00.000000000',
       '2020-04-03T00:00:00.000000000', '2020-04-04T00:00:00.000000000',
       '2020-04-05T00:00:00.000000000', '2020-04-06T00:00:00.000000000',
       '2020-04-07T00:00:00.000000000', '2020-04-08T00:00:00.000000000',
       '2020-04-09T00:00:00.000000000', '2020-04-10T00:00:00.000000000',
       '2020-04-11T00:00:00.000000000', '2020-04-12T00:00:00.000000000',
       '2020-04-13T00:00:00.000000000', '2020-04-14T00:00:00.000000000',
       '2020-04-15T00:00:00.000000000', '2020-04-16T00:00:00.000000000',
       '2020-04-17T00:00:00.000000000', '2020-04-18T00:00:00.000000000',
       '2020-04-19T00:00:00.000000000', '2020-04-20T00:00:00.000000000',
       '2020-04-21T00:00:00.000000000', '2020-04-22T00:00:00.000000000',
       '2020-04-23T00:00:00.000000000', '2020-04-24T00:00:00.000000000',
       '2020-04-25T00:00:00.000000000', '2020-04-26T00:00:00.000000000',
       '2020-04-27T00:00:00.000000000', '2020-04-28T00:00:00.000000000',
       '2020-04-29T00:00:00.000000000', '2020-04-30T00:00:00.000000000',
       '2020-05-01T00:00:00.000000000', '2020-05-02T00:00:00.000000000',
       '2020-05-03T00:00:00.000000000', '2020-05-04T00:00:00.000000000',
       '2020-05-05T00:00:00.000000000', '2020-05-06T00:00:00.000000000',
       '2020-05-07T00:00:00.000000000', '2020-05-08T00:00:00.000000000',
       '2020-05-09T00:00:00.000000000', '2020-05-10T00:00:00.000000000',
       '2020-05-11T00:00:00.000000000', '2020-05-12T00:00:00.000000000',
       '2020-05-13T00:00:00.000000000', '2020-05-14T00:00:00.000000000',
       '2020-05-15T00:00:00.000000000', '2020-05-16T00:00:00.000000000',
       '2020-05-17T00:00:00.000000000', '2020-05-18T00:00:00.000000000',
       '2020-05-19T00:00:00.000000000', '2020-05-20T00:00:00.000000000',
       '2020-05-21T00:00:00.000000000', '2020-05-22T00:00:00.000000000',
       '2020-05-23T00:00:00.000000000', '2020-05-24T00:00:00.000000000',
       '2020-05-25T00:00:00.000000000', '2020-05-26T00:00:00.000000000',
       '2020-05-27T00:00:00.000000000', '2020-05-28T00:00:00.000000000',
       '2020-05-29T00:00:00.000000000', '2020-05-30T00:00:00.000000000',
       '2020-05-31T00:00:00.000000000', '2020-06-01T00:00:00.000000000'],
      dtype='datetime64[ns]')

# 3. Average behavioral data for each county from Feb to June

In [ ]:
data.head()

     census_fips_code  ... residential_percent_change_from_baseline
532            1001.0  ...                                      NaN
533            1001.0  ...                                      NaN
534            1001.0  ...                                      5.0
535            1001.0  ...                                      0.0
536            1001.0  ...                                      0.0

[5 rows x 8 columns]

In [ ]:
data.drop(['date'], axis = 1, inplace = True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
data.head()

     census_fips_code  ...  residential_percent_change_from_baseline
532            1001.0  ...                                       NaN
533            1001.0  ...                                       NaN
534            1001.0  ...                                       5.0
535            1001.0  ...                                       0.0
536            1001.0  ...                                       0.0

[5 rows x 7 columns]

In [ ]:
data = data.groupby(['census_fips_code']).agg(
    avg_retail_and_recreation_percent_change_6_1 = ('retail_and_recreation_percent_change_from_baseline', 'mean'),
    avg_grocery_and_pharmacy_percent_change_6_1 = ('grocery_and_pharmacy_percent_change_from_baseline', 'mean'),
    avg_parks_percent_change_6_1 = ('parks_percent_change_from_baseline', 'mean'),
    avg_transit_stations_percent_change_6_1 = ('transit_stations_percent_change_from_baseline', 'mean'),
    avg_workplaces_percent_change_6_1 = ('workplaces_percent_change_from_baseline', 'mean'),
    avg_residential_percent_change_6_1 = ('residential_percent_change_from_baseline', 'mean')
).reset_index()

In [ ]:
data

      census_fips_code  ...  avg_residential_percent_change_6_1
0               1001.0  ...                            9.480000
1               1003.0  ...                            6.564815
2               1005.0  ...                                 NaN
3               1007.0  ...                                 NaN
4               1009.0  ...                            8.720000
...                ...  ...                                 ...
2827           56037.0  ...                            7.120000
2828           56039.0  ...                                 NaN
2829           56041.0  ...                                 NaN
2830           56043.0  ...                                 NaN
2831           56045.0  ...                                 NaN

[2832 rows x 7 columns]

In [ ]:
# now we are done! save the data!
data.to_csv('avg_google_mobility_up_to_6_1.csv', index = False)

# 4. Combine Google Behavioral data with our covariates.

In [54]:
google_data = data

In [56]:
safe_graph_data = pd.read_csv('county_data_with_reduced_covariates_with_SIP.csv')

In [57]:
google_data

      census_fips_code  ...  avg_residential_percent_change_6_1
0               1001.0  ...                            9.480000
1               1003.0  ...                            6.564815
2               1005.0  ...                                 NaN
3               1007.0  ...                                 NaN
4               1009.0  ...                            8.720000
...                ...  ...                                 ...
2827           56037.0  ...                            7.120000
2828           56039.0  ...                                 NaN
2829           56041.0  ...                                 NaN
2830           56043.0  ...                                 NaN
2831           56045.0  ...                                 NaN

[2832 rows x 7 columns]

In [58]:
safe_graph_data

      state state_code State Name  ... % Black  % Hispanic  % Non-Hispanic White
0       1.0         AL    Alabama  ...    19.3         3.0                  74.3
1       1.0         AL    Alabama  ...     8.8         4.6                  83.1
2       1.0         AL    Alabama  ...    48.0         4.3                  45.6
3       1.0         AL    Alabama  ...    21.1         2.6                  74.6
4       1.0         AL    Alabama  ...     1.5         9.6                  86.9
...     ...        ...        ...  ...     ...         ...                   ...
2991   56.0         WY    Wyoming  ...     1.1        16.1                  79.3
2992   56.0         WY    Wyoming  ...     0.6        14.9                  81.5
2993   56.0         WY    Wyoming  ...     0.7         9.2                  87.4
2994   56.0         WY    Wyoming  ...     0.5        14.1                  82.4
2995   56.0         WY    Wyoming  ...     0.6         4.1                  90.0

[2996 rows x 17 columns]

In [59]:
merged_data = safe_graph_data.merge(google_data, left_on = 'county_code', right_on = 'census_fips_code')

In [60]:
merged_data

      state  ... avg_residential_percent_change_6_1
0       1.0  ...                           9.480000
1       1.0  ...                           6.564815
2       1.0  ...                                NaN
3       1.0  ...                                NaN
4       1.0  ...                           8.720000
...     ...  ...                                ...
2823   56.0  ...                           7.120000
2824   56.0  ...                                NaN
2825   56.0  ...                                NaN
2826   56.0  ...                                NaN
2827   56.0  ...                                NaN

[2828 rows x 24 columns]

We did lose about 150 counties because Google Mobility dataset only contains 2800+ counties, but I think that is okay

In [63]:
num_of_SIP_counties = merged_data['SIP?'].sum()
print(f'num of SIP counties = {num_of_SIP_counties}')

num of SIP counties = 2436

In [64]:
num_of_no_SIP_counties = merged_data[merged_data['SIP?'] == 0].shape[0]
print(f'num of no SIP counties = {num_of_no_SIP_counties}')

num of no SIP counties = 392

In [65]:
merged_data.to_csv('final_data_google_and_safe_graph_up_to_6_1.csv', index = False)